/* Input */

input {
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding-left: 1rem;
  text-align: left;
  vertical-align:auto;
}

/* Button */

button {
    margin-left: 10px;
  }

 .custom-btn {
    width: 130px;
    height: 40px;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .btn-style {
    background: #08AEEA;
    background:linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    border: none;

  }
  .btn-style:before {
    height: 0%;
    width: 2px;
  }
  .btn-style:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }